-- SQL Manager 2008 for SQL Server 3.2.0.2
-- ---------------------------------------
-- Host      : .\SQLEXPRESS
-- Database  : CCAWHRaw
-- Version   : Microsoft SQL Server  11.0.3000.0


CREATE DATABASE [CCAWHRaw]
ON PRIMARY
  ( NAME = [CCAWHRaw],
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CCAWHRaw.mdf',
    SIZE = 5 MB,
    MAXSIZE = UNLIMITED,
    FILEGROWTH = 1 MB )
LOG ON
  ( NAME = [CCAWHRaw_log],
    FILENAME = 'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CCAWHRaw_log.ldf',
    SIZE = 1 MB,
    MAXSIZE = 0 MB,
    FILEGROWTH = 10 % )
COLLATE Chinese_PRC_CI_AS
GO

USE [CCAWHRaw]
GO

--
-- Definition for user KoneUser : 
--

CREATE USER [KoneUser]
  FOR LOGIN  [KoneUser]
  WITH DEFAULT_SCHEMA = [dbo]
GO

--
-- Definition for contract DEFAULT : 
--

CREATE CONTRACT [DEFAULT] 
  AUTHORIZATION [dbo]
  ([DEFAULT] SENT BY ANY)
GO

--
-- Definition for table VendorList : 
--

CREATE TABLE [dbo].[VendorList] (
  [VendorID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Descript] nvarchar(100) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [ShortDes] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [GreenTime] nvarchar(5) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Users : 
--

CREATE TABLE [dbo].[Users] (
  [UserID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Password] nvarchar(255) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Functions] nvarchar(1000) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table UserRights : 
--

CREATE TABLE [dbo].[UserRights] (
  [UserID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [ControlTag] nvarchar(50) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [ControlName] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [IsRight] bit CONSTRAINT [DF_UserRights_IsRight] DEFAULT 0 NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table trace_xe_event_map : 
--

CREATE TABLE [sys].[trace_xe_event_map] (
  [trace_event_id] smallint NOT NULL,
  [package_name] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [xe_event_name] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)
GO

--
-- Definition for table trace_xe_action_map : 
--

CREATE TABLE [sys].[trace_xe_action_map] (
  [trace_column_id] smallint NOT NULL,
  [package_name] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  [xe_action_name] nvarchar(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
)
GO

--
-- Definition for table temp : 
--

CREATE TABLE [dbo].[temp] (
  [PurchDoc] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Item] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Vendor] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Material] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Shorttext] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Qty] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Unit] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Delivdate] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [交付日期] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [计划确认人] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [发送日期] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [FromFile] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [SheetName] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table StoreBar2 : 
--

CREATE TABLE [dbo].[StoreBar2] (
  [YearID] tinyint NOT NULL,
  [Lot] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [Line] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [PackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [DelivID] int NOT NULL,
  [Bar2ID] nvarchar(4000) COLLATE Chinese_PRC_CI_AS NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Store : 
--

CREATE TABLE [dbo].[Store] (
  [ID] nvarchar(200) COLLATE Chinese_PRC_CI_AS NULL,
  [Code] nvarchar(10) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Line] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [YearID] tinyint NULL,
  [DelivID] int NULL,
  [Lot] nvarchar(100) COLLATE Chinese_PRC_CI_AS NULL,
  [PO] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [Item] nvarchar(10) COLLATE Chinese_PRC_CI_AS NULL,
  [Rawsheet] nvarchar(30) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Qty] int NOT NULL,
  [PackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [NeedQty] int NULL,
  [InputTime] datetime NULL,
  [Memo] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [UserID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Repeatdoc : 
--

CREATE TABLE [dbo].[Repeatdoc] (
  [PurchDoc] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Item] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Vendor] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Material] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Shorttext] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Qty] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Unit] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Delivdate] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [交付日期] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [计划确认人] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [发送日期] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [FromFile] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [SheetName] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [InputTime] datetime NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Raw : 
--

CREATE TABLE [dbo].[Raw] (
  [Rawsheet] nvarchar(30) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Description] nvarchar(100) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Length] float NULL,
  [Width] float NULL,
  [Thick] float NULL,
  [MType] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table RackRaw : 
--

CREATE TABLE [dbo].[RackRaw] (
  [ID] int NOT NULL,
  [RackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [LayID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [RackName] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Rawsheet] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [Laymemo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RowNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [ColumnNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [FlexibleID] bit NULL,
  [UniqueID] bit NULL
)
ON [PRIMARY]
GO

--
-- Definition for table RackLayout : 
--

CREATE TABLE [dbo].[RackLayout] (
  [ID] int NOT NULL,
  [RackName] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [LayID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Layoutx] float NOT NULL,
  [Layouty] float NOT NULL,
  [Laywidth] float NOT NULL,
  [Layheight] float NOT NULL,
  [RowNum] int NULL,
  [ColumnNum] int NULL,
  [ForUse] bit NULL,
  [ConType] nvarchar(10) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Rack : 
--

CREATE TABLE [dbo].[Rack] (
  [ID] int NOT NULL,
  [RackName] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [LayID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Laymemo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RowNo] int NULL,
  [column1] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column2] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column3] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column4] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column5] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column6] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column7] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column8] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column9] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [column10] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Purdoc : 
--

CREATE TABLE [dbo].[Purdoc] (
  [PurchDoc] nvarchar(50) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Item] nvarchar(10) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Vendor] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [Material] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [ShortText] nvarchar(200) COLLATE Chinese_PRC_CI_AS NULL,
  [Qty] float NULL,
  [Unit] nvarchar(10) COLLATE Chinese_PRC_CI_AS NULL,
  [Delivdate] datetime NULL,
  [交付日期] datetime NULL,
  [计划确认人] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [发送日期] datetime NULL,
  [FromFile] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [SheetName] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [InputTime] datetime NULL,
  [Status] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table Infotable : 
--

CREATE TABLE [dbo].[Infotable] (
  [InfoText] nvarchar(255) COLLATE Chinese_PRC_CI_AS NULL,
  [Infotime] datetime NULL,
  [UserName] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL
)
ON [PRIMARY]
GO

--
-- Definition for table C02Temp : 
--

CREATE TABLE [dbo].[C02Temp] (
  [YearID] tinyint NOT NULL,
  [Lot] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [Line] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [PackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [DelivID] int NOT NULL,
  [Bar2ID] nvarchar(4000) COLLATE Chinese_PRC_CI_AS NOT NULL
)
ON [PRIMARY]
GO

--
-- Definition for table C02 : 
--

CREATE TABLE [dbo].[C02] (
  [Code] nvarchar(10) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Line] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [PackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [YearID] int NULL,
  [DelivID] int NULL,
  [Lot] nvarchar(50) COLLATE Chinese_PRC_CI_AS NULL,
  [Rawsheet] nvarchar(30) COLLATE Chinese_PRC_CI_AS NULL,
  [Qty] int NULL,
  [NeedQty] int NULL,
  [UserID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [TempID] int NULL,
  [RackName] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RowNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [ColumnNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [ScanTime] datetime CONSTRAINT [DF_C01_ScanTime] DEFAULT getdate() NULL
)
ON [PRIMARY]
GO

--
-- Definition for table C01 : 
--

CREATE TABLE [dbo].[C01] (
  [ID] nvarchar(100) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Code] nvarchar(10) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [PO] nvarchar(20) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Item] nvarchar(10) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Rawsheet] nvarchar(30) COLLATE Chinese_PRC_CI_AS NOT NULL,
  [Qty] int NOT NULL,
  [PackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [UserID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [TempID] int NULL,
  [RackName] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RackID] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [RowNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [ColumnNo] nvarchar(20) COLLATE Chinese_PRC_CI_AS NULL,
  [ScanTime] datetime CONSTRAINT [DF_C01_ScanTime_1] DEFAULT getdate() NULL
)
ON [PRIMARY]
GO

--
-- Data for table dbo.Purdoc  (LIMIT 0,500)
--

INSERT INTO [dbo].[Purdoc] ([PurchDoc], [Item], [Vendor], [Material], [ShortText], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime], [Status])
VALUES 
  (N'4525537100', N'10', N'浙江物产金属集团有限公司', N'KM50316386', N'冷板1.2*1230*2300MM ST,LL=900,HH<=2100', 150, N'PC', '20190226', '20190501', N'YE', '20190225', N'rawtest2.xlsx', N'Sheet1', '20190426 21:30:41', NULL)
GO

INSERT INTO [dbo].[Purdoc] ([PurchDoc], [Item], [Vendor], [Material], [ShortText], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime], [Status])
VALUES 
  (N'4525537100', N'20', N'浙江物产金属集团有限公司', N'KM50316387', N'冷板1.2*1230*2300MM ST,LL=900,HH<=2100', 150, N'PC', '20190226', '20190501', N'YE', '20190225', N'rawtest2.xlsx', N'Sheet1', '20190426 21:30:41', NULL)
GO

INSERT INTO [dbo].[Purdoc] ([PurchDoc], [Item], [Vendor], [Material], [ShortText], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime], [Status])
VALUES 
  (N'4525537101', N'10', N'test company', N'KM50316386', N'冷板1.2*1230*2300MM ST,LL=900,HH<=2100', 150, N'PC', '20190226', '20190501', N'YE', '20190225', N'rawtest2.xlsx', N'Sheet1', '20190426 21:30:41', NULL)
GO







































--
-- Data for table dbo.Rack  (LIMIT 0,500)
--

INSERT INTO [dbo].[Rack] ([ID], [RackName], [LayID], [Laymemo], [RowNo], [column1], [column2], [column3], [column4], [column5], [column6], [column7], [column8], [column9], [column10])
VALUES 
  (1, N'P', N'Layout1', N'室内', 1, N'P-4', N'P-3', N'P-2', N'P-1', NULL, NULL, NULL, NULL, NULL, NULL)
GO

INSERT INTO [dbo].[Rack] ([ID], [RackName], [LayID], [Laymemo], [RowNo], [column1], [column2], [column3], [column4], [column5], [column6], [column7], [column8], [column9], [column10])
VALUES 
  (2, N'P', N'Layout1', N'室内', 2, N'P-4', N'P-3', N'P-2', N'P-1', NULL, NULL, NULL, NULL, NULL, NULL)
GO

INSERT INTO [dbo].[Rack] ([ID], [RackName], [LayID], [Laymemo], [RowNo], [column1], [column2], [column3], [column4], [column5], [column6], [column7], [column8], [column9], [column10])
VALUES 
  (3, N'P', N'Layout1', N'室内', 3, N'P-4', N'P-3', N'P-2', N'P-1', NULL, NULL, NULL, NULL, NULL, NULL)
GO






















































































































































--
-- Data for table dbo.RackLayout  (LIMIT 0,500)
--

INSERT INTO [dbo].[RackLayout] ([ID], [RackName], [LayID], [Layoutx], [Layouty], [Laywidth], [Layheight], [RowNum], [ColumnNum], [ForUse], [ConType])
VALUES 
  (1, N'P', N'Layout1', 0.116, 0.278, 0.137, 0.167, 6, 4, 1, N'rack')
GO

INSERT INTO [dbo].[RackLayout] ([ID], [RackName], [LayID], [Layoutx], [Layouty], [Laywidth], [Layheight], [RowNum], [ColumnNum], [ForUse], [ConType])
VALUES 
  (2, N'O', N'Layout1', 0.291, 0.278, 0.308, 0.167, 6, 9, 1, N'rack')
GO

INSERT INTO [dbo].[RackLayout] ([ID], [RackName], [LayID], [Layoutx], [Layouty], [Laywidth], [Layheight], [RowNum], [ColumnNum], [ForUse], [ConType])
VALUES 
  (3, N'N', N'Layout1', 0.639, 0.278, 0.239, 0.167, 6, 7, 1, N'rack')
GO

































--
-- Data for table dbo.RackRaw  (LIMIT 0,500)
--

INSERT INTO [dbo].[RackRaw] ([ID], [RackID], [LayID], [RackName], [Rawsheet], [Laymemo], [RowNo], [ColumnNo], [FlexibleID], [UniqueID])
VALUES 
  (1, N'P-4', N'Layout1', N'P', N'KM51168662', N'室内', N'1', N'1', 1, 1)
GO

INSERT INTO [dbo].[RackRaw] ([ID], [RackID], [LayID], [RackName], [Rawsheet], [Laymemo], [RowNo], [ColumnNo], [FlexibleID], [UniqueID])
VALUES 
  (2, N'P-3', N'Layout1', N'P', N'KM50080426', N'室内', N'1', N'2', 1, 1)
GO

INSERT INTO [dbo].[RackRaw] ([ID], [RackID], [LayID], [RackName], [Rawsheet], [Laymemo], [RowNo], [ColumnNo], [FlexibleID], [UniqueID])
VALUES 
  (3, N'P-2', N'Layout1', N'P', N'KM50080444', N'室内', N'1', N'3', 1, 1)
GO






































































































































































































































































































































































































--
-- Data for table dbo.Raw  (LIMIT 0,500)
--

INSERT INTO [dbo].[Raw] ([Rawsheet], [Description], [Length], [Width], [Thick], [MType])
VALUES 
  (N'DEE3668099', N'P_冷扎板 PL2x1250x3000 SPCC-DT <P>', 3000, 1250, 2, N'P')
GO

INSERT INTO [dbo].[Raw] ([Rawsheet], [Description], [Length], [Width], [Thick], [MType])
VALUES 
  (N'KM1332392', N'P_冷轧钢板  PL1x1000x2400-DC01-Am-O DT <P>', 2400, 1000, 1, N'P')
GO

INSERT INTO [dbo].[Raw] ([Rawsheet], [Description], [Length], [Width], [Thick], [MType])
VALUES 
  (N'KM1332426', N'P_冷轧钢板  PL1x1499x2400-DC01-Am-O DT <P>', 2400, 1499, 1, N'P')
GO


















































































































































































































































































































































































































































































































--
-- Data for table dbo.Raw  (LIMIT 500,500)
--

GO



















































































































--
-- Data for table dbo.Repeatdoc  (LIMIT 0,500)
--

INSERT INTO [dbo].[Repeatdoc] ([PurchDoc], [Item], [Vendor], [Material], [Shorttext], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime])
VALUES 
  (N'4525537171', N'20', N'浙江物产金属集团有限公司', N'KM51107451', N'冷板 1.2*1219*2475', N'140', N'PC', N'02/26/2019', N'02/26/2019', N'YE', N'02/25/2019', N'rawtest1.xlsx', N'Sheet1', '20190409 15:09:13')
GO

INSERT INTO [dbo].[Repeatdoc] ([PurchDoc], [Item], [Vendor], [Material], [Shorttext], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime])
VALUES 
  (N'4525537171', N'30', N'浙江物产金属集团有限公司', N'KM249098', N'电镀锌板PL1.5x1250x2500 (SECC)', N'50', N'PC', N'02/26/2019', N'02/26/2019', N'YE', N'02/25/2019', N'rawtest1.xlsx', N'Sheet1', '20190409 15:09:13')
GO

INSERT INTO [dbo].[Repeatdoc] ([PurchDoc], [Item], [Vendor], [Material], [Shorttext], [Qty], [Unit], [Delivdate], [交付日期], [计划确认人], [发送日期], [FromFile], [SheetName], [InputTime])
VALUES 
  (N'4525537171', N'40', N'浙江物产金属集团有限公司', N'KM51073187', N'冷板 PL1X1250X2630MM', N'70', N'PC', N'02/26/2019', N'02/26/2019', N'YE', N'02/25/2019', N'rawtest1.xlsx', N'Sheet1', '20190409 15:09:13')
GO



















































































































































































































































































--
-- Data for table dbo.Store  (LIMIT 0,500)
--

INSERT INTO [dbo].[Store] ([ID], [Code], [Line], [YearID], [DelivID], [Lot], [PO], [Item], [Rawsheet], [Qty], [PackID], [NeedQty], [InputTime], [Memo], [UserID])
VALUES 
  (N'C01|4525537171|10|KM50316386|100|1/2', N'C01', NULL, NULL, NULL, NULL, N'4525537171', N'10', N'test', 100, N'1/2', NULL, '20190426 21:47:57', NULL, N'Administrator')
GO

INSERT INTO [dbo].[Store] ([ID], [Code], [Line], [YearID], [DelivID], [Lot], [PO], [Item], [Rawsheet], [Qty], [PackID], [NeedQty], [InputTime], [Memo], [UserID])
VALUES 
  (N'C01|4525537171|10|KM50316386|50|2/2', N'C01', NULL, NULL, NULL, NULL, N'4525537171', N'10', N'KM50316386', 50, N'2/2', NULL, '20190426 21:47:57', NULL, N'Administrator')
GO

INSERT INTO [dbo].[Store] ([ID], [Code], [Line], [YearID], [DelivID], [Lot], [PO], [Item], [Rawsheet], [Qty], [PackID], [NeedQty], [InputTime], [Memo], [UserID])
VALUES 
  (N'C01|4525537171|20|KM51107451|100|1/1', N'C01', NULL, NULL, NULL, NULL, N'4525537171', N'20', N'KM50080444', 100, N'1/1', NULL, '20190426 21:47:57', NULL, N'Administrator')
GO

































































































--
-- Data for table dbo.StoreBar2  (LIMIT 0,500)
--

INSERT INTO [dbo].[StoreBar2] ([YearID], [Lot], [Line], [PackID], [DelivID], [Bar2ID])
VALUES 
  (19, N'14+A+1', N'A', N'01/24', 1, N'C02|A|01/24|19|14+A+1|KM50082345|4|14+A+1|KM50082338|1')
GO

INSERT INTO [dbo].[StoreBar2] ([YearID], [Lot], [Line], [PackID], [DelivID], [Bar2ID])
VALUES 
  (19, N'14+A+1', N'A', N'02/24', 2, N'C02|A|02/24|19|14+A+1|KM50002753|2')
GO

INSERT INTO [dbo].[StoreBar2] ([YearID], [Lot], [Line], [PackID], [DelivID], [Bar2ID])
VALUES 
  (19, N'14+A+1E', N'M', N'01/25', 3, N'C02|M|01/25|19|14+A+1E|KM50082349|10')
GO

























--
-- Data for table sys.trace_xe_action_map  (LIMIT 0,500)
--

INSERT INTO [sys].[trace_xe_action_map] ([trace_column_id], [package_name], [xe_action_name])
VALUES 
  (3, N'sqlserver', N'database_id')
GO

INSERT INTO [sys].[trace_xe_action_map] ([trace_column_id], [package_name], [xe_action_name])
VALUES 
  (4, N'sqlserver', N'transaction_id')
GO

INSERT INTO [sys].[trace_xe_action_map] ([trace_column_id], [package_name], [xe_action_name])
VALUES 
  (5, N'sqlserver', N'tsql_frame')
GO




















--
-- Data for table sys.trace_xe_event_map  (LIMIT 0,500)
--

INSERT INTO [sys].[trace_xe_event_map] ([trace_event_id], [package_name], [xe_event_name])
VALUES 
  (10, N'sqlserver', N'rpc_completed')
GO

INSERT INTO [sys].[trace_xe_event_map] ([trace_event_id], [package_name], [xe_event_name])
VALUES 
  (11, N'sqlserver', N'rpc_starting')
GO

INSERT INTO [sys].[trace_xe_event_map] ([trace_event_id], [package_name], [xe_event_name])
VALUES 
  (12, N'sqlserver', N'sql_batch_completed')
GO








































































































































--
-- Data for table dbo.UserRights  (LIMIT 0,500)
--

INSERT INTO [dbo].[UserRights] ([UserID], [ControlTag], [ControlName], [IsRight])
VALUES 
  (N'guest', N'发料', N'buttonc2deliv', 0)
GO

INSERT INTO [dbo].[UserRights] ([UserID], [ControlTag], [ControlName], [IsRight])
VALUES 
  (N'guest', N'发料查询', N'buttonc2query', 1)
GO

INSERT INTO [dbo].[UserRights] ([UserID], [ControlTag], [ControlName], [IsRight])
VALUES 
  (N'guest', N'管理员', N'no', 0)
GO







--
-- Data for table dbo.Users  (LIMIT 0,500)
--

INSERT INTO [dbo].[Users] ([UserID], [Password], [Functions])
VALUES 
  (N'guest', N'25f9e794323b453885f5181f1b624d0b', NULL)
GO

--
-- Data for table dbo.VendorList  (LIMIT 0,500)
--

INSERT INTO [dbo].[VendorList] ([VendorID], [Descript], [ShortDes], [GreenTime])
VALUES 
  (N'7100', N'test', N'test', N'15:20')
GO

INSERT INTO [dbo].[VendorList] ([VendorID], [Descript], [ShortDes], [GreenTime])
VALUES 
  (N'710000000', N'浙江物产金属集团有限公司', N'浙江物产金属集团有限公司', N'19:30')
GO

--
-- Definition for indices : 
--

ALTER TABLE [dbo].[C01]
ADD CONSTRAINT [PK_C01] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[Purdoc]
ADD CONSTRAINT [PK_Purdoc] 
PRIMARY KEY CLUSTERED ([PurchDoc], [Item])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[Rack]
ADD CONSTRAINT [PK_Rack] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[RackLayout]
ADD CONSTRAINT [PK_RackLayout] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[RackRaw]
ADD CONSTRAINT [PK_RackRaw] 
PRIMARY KEY CLUSTERED ([ID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[Raw]
ADD CONSTRAINT [PK_Raw] 
PRIMARY KEY CLUSTERED ([Rawsheet])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[UserRights]
ADD CONSTRAINT [PK_UserRights] 
PRIMARY KEY CLUSTERED ([UserID], [ControlTag])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[Users]
ADD CONSTRAINT [PK_Users] 
PRIMARY KEY CLUSTERED ([UserID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



ALTER TABLE [dbo].[VendorList]
ADD CONSTRAINT [PK_VendorList] 
PRIMARY KEY CLUSTERED ([VendorID])
WITH (
  PAD_INDEX = OFF,
  IGNORE_DUP_KEY = OFF,
  STATISTICS_NORECOMPUTE = OFF,
  ALLOW_ROW_LOCKS = ON,
  ALLOW_PAGE_LOCKS = ON)
ON [PRIMARY]
GO



